.grid2 {

  $grid-border-color: rgb(221, 221, 221);

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid $grid-border-color;

    .header-cell {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
      user-select: none;
      cursor: pointer;

      &.not-sortable {
        cursor: default;
      }

      .title {
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 300;
        color: #5f5f5f;
        font-size: 12px;
      }
    }
  }

  .body {
    $body-min-height: 30px;
    min-height: $body-min-height;
    position: relative;

    .grid2-cell {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      border-bottom: 1px solid $grid-border-color;
      overflow: hidden;

      &.selected {
        background-color: #FFFFC4;
      }

      &:last-child {
        border-bottom: none;
      }

      .content-container {
        flex: 1;

        > div {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }

    .loading-container {
      z-index: 1;
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .backdrop {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.03;
      }
    }

    .no-results {
      color: rgb(221, 221, 221);
      font-size: 14px;
      font-weight: 300;
      line-height: $body-min-height;
      padding-left: 10px;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    border-top: 2px solid $grid-border-color;

    .export-actions {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: -9px;
    }

    .pager {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &.fixed-height {
    display: flex;
    flex-direction: column;

    .body {
      flex: 1;
      overflow-y: auto;
    }

    .footer {
      border-top: 2px solid $grid-border-color;
    }
  }

  .checkbox-container {
    padding-right: 5px;
    display: flex;
    align-items: center;
  }
}